.event-container {

    display: flex;
    flex-direction: row;
    margin: 5px;
}

.event-date {
    flex: 1;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #083e88;
    color: white;
}

.event-name {
    color: white;
    background-color: red;
    font-size: 20px;
    padding-left: 10px;
    flex: 3;
    display: flex;
    align-items: center;

}